// 主题颜色
$mainColor:#292f4c;
// 分割线颜色
$lineColor:#e5e5e5;

// 背景颜色
$bgColor:#f5f5f5;

// 字体颜色
$hintColor:#f5f5f5;

$hoverColor:#b6b6ec;

$iconBtnHoverColor:rgba(0,0,0,0.09);

$selectColor:#1890ff;

$textHintColor:#999;

$textColor:#333;